@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chivo:ital@1&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
body {
    background-color: var(--fundocolor01);
    transition: 1s;
}
/*VARIAVEIS--*/
:root {
    --fundocolor01:#30D5C8;
    --fundocolor02:#2E4021;
    --font01: 'Lobster', cursive;
    --font02:'Fjalla One', sans-serif;
    --font03: 'Comfortaa', sans-serif;
}




/*CONFIGURAÇÕES DO NAVBAR-SITE*/
.nav-link {
    font-family: 'Roboto Mono', monospace;
    transition: 0.3s;
}


.navbar-brand {
    text-transform: uppercase;
    text-shadow: 3px 4px 7px black;
}


#navproj {
    border: none;
}


/*INICIO*/
section {
    text-align: center;
    padding-top: 20px;
    height: 600px;
}   


div#redes {
    margin-top: 30px;
    letter-spacing: 5px;
}


#pheader2 {
    font-size: 1.2em;
    color: white;    
}


.card {
    margin: auto;
  }


  #sobre-mim {
    background-color: #30D5C8;
    margin-right:  1px;
    margin-left: 1px;
    height: 300px;
    
}


main {
    background-color:white;
    text-align: center;
    color: #151d0f;
    padding-top: 10px;
}


.titulomain {
    font-family: var(--font02);
    font-size: 2.4em;
    margin-bottom: 40px;
    color: #141E26;
    text-decoration: underline;
}




/*SOBRE*/
#sobre {
    background-color: white;
    height: max-content;
    max-width: 700px;
    margin: auto;
    border-radius: 15px;
    margin-top: 40px;
    text-indent: 2%;
    line-height: 25px;
    text-align: center;
    padding: 20px;
    font-size: 1.1em;
}


/*PROJETOS*/
#tipag2 {
    margin-top: 20px;
    text-shadow: 1px 4px 10px rgba(0, 0, 0, 0.192);
}




/*OUTROS*/
.tituloheader, #tipag2, #titulopag3{
    font-family: var(--font01);
    font-size: 4.2em;
    color:  white;    
}


section#projetos {
    margin-bottom: -200px ;
}


#pag04 {
    height: 200px;
    margin-top: 20px;
}






/*MEDIAS*/
@media(min-width: 1038px) {
    .navbar-brand { 
        margin-right:  50vw;
        margin-left: 20px;
    }
}


@media(min-width: 400px) {
    .tituloheader {
        font-size: 5.2em;
    }

    #pheader {
        font-size: 1.2em;
    }
}

@media(min-width: 365px) {
    .titulomain {
        font-size: 2em;
    }
}

div#projetosestilos {
    margin-left: 200px;
}


@media(min-width: 633px) {
    header#pagina2 {
        width: 600px;
    }

    #titulopag2 {
        width: 400px;
    }

}


/*LINKS--*/
a {
    text-decoration: none;
    color: blue;
}





footer {
    background-color: #043f3a;
    color: white;
    text-align: center;
    font-weight: bold;
}