@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chivo:ital@1&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
body {
    background-color: var(--fundocolor01);
    transition: 1s;
}

:root {
    --fundocolor01:#04D9B2;
    --fundocolor02:#2E4021;
    --font01: 'Lobster', cursive;
    --font02:'Fjalla One', sans-serif;
    --font03: 'Comfortaa', sans-serif;
}

#sobre-mim {
    background-color: #04D9B2;
    height: 300px;
    
}

.navbar-brand { 
    margin-right:  1px;
    margin-left: 1px;
    
}

.nav-link {
    font-family: 'Roboto Mono', monospace;
    transition: 0.3s;
}



@media(min-width: 1038px) {
    .navbar-brand { 
        margin-right:  50vw;
        margin-left: 20px;
    }
}


.navbar-brand {
    text-transform: uppercase;
    font-family: 'Caveat', cursive;
}


section {
    text-align: center;
    padding-top: 20px;
    height: 620px;
  
   
}

div#redes {
    margin-top: 30px;
    letter-spacing: 5px;
}

#pheader {
    font-size: 1em;
    color: #010A26;
}



#pheader2 {
    font-size: 1.2em;
    color: white;    
}

#navproj {
    border: none;
}


.tituloheader {
    font-family: var(--font01);
    font-size: 4.2em;
    color:  white;    
}

@media(min-width: 400px) {
    .tituloheader {
        font-size: 5.2em;
    }

    #pheader {
        font-size: 1.2em;
    }
}

@media(min-width: 365px) {
    .titulomain {
        font-size: 2em;
    }
}

div#projetosestilos {
    margin-left: 200px;
}

main {
    background-color:white;
    text-align: center;
    color: #151d0f;
    padding-top: 10px;
   

    
    
}

.card{
  margin: auto;
}
.titulomain {
    font-family: var(--font02);
    font-size: 2.4em;
    margin-bottom: 40px;
    color: #141E26;
    text-decoration: underline;
}

#contato {
    background-color: transparent;
    border: 2px solid #141E26;
    color: white;
    padding: 8px;
    border-radius: 30px;
    width: 130px;
    margin-top: 20px;
    transition: 0.3s;
    background-color: #141E26;
}







a {
    text-decoration: none;
    color: blue;
}



.estilobutton {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px;
    border-radius: 30px;
    margin-top: 20px;
    transition: 0.3s;
    font-weight: normal;
    font-size: 1.2;
    outline: none;
}







@media(min-width: 633px) {
    header#pagina2 {
        width: 600px;
    }

    #titulopag2 {
        width: 400px;
    }

}


section#projetos {
    margin-bottom: -200px ;
}

