@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chivo:ital@1&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
    background-color: var(--fundocolor01);
}

:root {
    --fundocolor01:#343BBF;
    --fundocolor02:#2E4021;
    --font01:'Bebas Neue', sans-serif;
    --font02:'Fjalla One', sans-serif;
    --font03: 'Comfortaa', sans-serif;
}

#iconnav {
   margin-left:20px;
}



.navbar-brand {
    text-transform: uppercase;
    font-family: var(--font02);
}

header {
    text-align: center;
    padding-top: 90px;
    height: 400px;
  
   
}

#pheader {
    font-size: 1em;
    color: #F2EA77;
}

.tituloheader {
    font-family: var(--font01);
    font-size: 4.2em;
    color: #F2F2F2;    
}

@media(min-width: 400px) {
    .tituloheader {
        font-size: 5.2em;
    }

    #pheader {
        font-size: 1.2em;
    }
}

@media(min-width: 365px) {
    .titulomain {
        font-size: 2em;
    }
}

main {
    background-color:#F2F2F2;
    text-align: center;
    color: #151d0f;
    height: auto;
    padding: 50px;
    
}

.titulomain {
    font-family: 'Comfortaa', cursive;
    font-size: 1.7em;
    margin-bottom: 30px;
    font-weight: bold;
    color: #141E26;
    background-image: linear-gradient(to right, #4973F2, white );
}

.estilobutt {
    background-color: transparent;
    border: 2px solid #141E26;
    color: #141E26;
    padding: 10px;
    border-radius: 30px;
    width: 170px;
    margin-top: 20px;
    transition: 0.3s;
}


.estilobutt:hover, .estilobutt:focus, .estilobutt:active {
    background-color: #141E26;
    color: var(--fundocolor01);
    border: none;
}

#section2 {
    margin-top: 60px;
    font-size: 1.2em;
    height: 300px;
}

a {
    text-decoration: none;
    color: blue;
}

aside  {
    color:#D8E8F2;
    text-align: center;
    background-color: #262022;
    height: 300px;
    padding-top: 70px;
}

.estilobutton {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px;
    border-radius: 30px;
    width: 150px;
    margin-top: 20px;
    transition: 0.3s;
    font-weight: normal;
    font-size: 1.2;
    outline: none;
}

.verproj {
    font-family: var(--font01);    
}

.estilobutton:hover, .estilobutton:focus, .estilobutton:active {
    background-color: white;
    color: rgb(22, 9, 22);
    border: none;
}


header#pagina2 {
    background-color: white;
    width: 340px;
    margin: auto;
    height: 600px;
    box-shadow: 2px 5px 8px #0000003a;
}

section#projetosjava {
    margin-top: 50px;
    background-color: #F2CB05;
    height: 300px;
    padding-top: 80px;
    color:#D8F0F2 ;
}



#titulopag2 {
     font-family: var(--font01);
     background-image: linear-gradient(to right,  #4973F2, white );
     width: 300px;
     margin: auto;
}

ul#projetos {
    text-align: initial;
    margin-left: 40px;
    margin-top: 30px;
    list-style: none;
}

@media(min-width: 633px) {
    header#pagina2 {
        width: 600px;
    }

    #titulopag2 {
        width: 400px;
    }

}

footer {
    background-color: #010A26;
    margin-top: 270px;
    color: #D8E8F2;
    text-align: center;
}

